name: Build Firefox on Linux

on:
  # push:
  schedule:
    - cron: '0 7 21 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v4

      - name: Free up Disk Space
        run: |
          echo "version=$(bash $GITHUB_WORKSPACE/version.sh)" >> $GITHUB_ENV
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force

      - name: Bootstrap Mozilla Source
        run: |
          git clone --depth 1 --branch $version https://github.com/mozilla/gecko-dev mozilla-unified

      - name: Initialize `mozconfig`
        working-directory: ./mozilla-unified
        run: |
          bash $GITHUB_WORKSPACE/patch.sh

      - name: Build and Package
        working-directory: ./mozilla-unified
        run: |
          ./mach --no-interactive bootstrap --application-choice=browser
          ./mach build 
          ./mach package

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-firefox-${{ env.version }}-amd64
          path: "**/*.tar.bz2"
