name: Build Firefox on Windows

on:
  push:
  schedule:
    - cron: '0 0 4 * *'

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v4

      - name: Install MozillaBuild
        run: |
          echo "version=$(bash $GITHUB_WORKSPACE/version.sh)" >> $env:GITHUB_ENV
          choco install mozillabuild -y --no-progress

      - name: Bootstrap Mozilla Source
        working-directory: C:\
        shell: C:\mozilla-build\start-shell.bat -here -e {0}
        run: |
          mkdir mozilla-source
          cd mozilla-source
          git clone --depth 1 --branch $version https://github.com/mozilla/gecko-dev mozilla-unified

      - name: Initialize `mozconfig`
        working-directory: C:\mozilla-source\mozilla-unified
        shell: C:\mozilla-build\start-shell.bat -here -e {0}
        run: |
          bash $GITHUB_WORKSPACE/patch.sh

      - name: Build and Package
        working-directory: C:\mozilla-source\mozilla-unified
        shell: C:\mozilla-build\start-shell.bat -here -e {0}
        run: |
          ./mach --no-interactive bootstrap --application-choice=browser
          ./mach build
          ./mach package

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-firefox-amd64
          path: "C:/mozilla-source/mozilla-unified/obj-x86_64-pc-windows-msvc/dist/install/sea"
